version: "3.9"

services:
  backend:
    build: .
    container_name: biblioai-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: python app/main.py
